* {
  font: 1em sans-serif;
}
.telaInicial {
  background-repeat: no-repeat;
  background-size: fit;
  background-image: url(../assets/Fundo-inicio.jpeg);
  background-position: center;
  margin: auto;
  height: 600px;
  width: 900px;
  display: flex;
  flex-direction: column-reverse;
}

#botaoJogar {
  display: flex;
  background-color: #b19eff;
  height: 35px;
  width: 200px;
  font-size: 30px;
  padding: 30px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-bottom: 100px;
  border-color: black;
}

#botaoJogar:hover {
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.05);
  background-color: #f4fed5;
}

.telaDeJogo {
  color: white;
  background-color: #002a5a;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#sessao1 {
  font-size: 18px;
  margin-left: 100px;
  margin-top: 20px;
}

#sessao2 {
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

#sessao2-1 {
  font-size: 18px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

#sessao2-2 {
  font-size: 18px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

#sessao3 {
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

#botaoPerguntaSorteada {
  display: flex;
  background-color: #b19eff;
  height: 100px;
  width: 700px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  box-shadow: 2px 2px 2px rgb(28, 28, 28);
  margin-top: 30px;
}

.botaoResposta {
  display: flex;
  background-color: #f7d69c;
  height: 40px;
  width: 340px;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 2px 2px 2px rgb(28, 28, 28);
  margin-inline: 10px;
  margin-block: 10px;
}

.status {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  margin-top: 50px;


}

#mensagemStatus {
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.desfechosPossiveis {
  display: flex;
  margin-left: 90px;
}

.botaoDesfechos {
  background-color: #8fcee8;
  border-radius: 5px;
  font-size: 17px;
  font-family: sans-serif;
  padding: 20px;
  height: 100px;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.hide {
  display: none;
}

.verde {
  background-color: rgb(81, 188, 81);
}

.vermelho {
  background-color: rgb(235, 76, 76);
}
