
.intro {
  background-repeat: no-repeat;
  background-size: fit;
  background-image: url(../assets/Fundo-inicio.jpeg);
  background-position: center;
  margin:auto;
  height:100vh;
  width:100%;
  display:flex;
  flex-direction: column-reverse;
}

#botaoJogar {
  display: flex;
  background-color: #B19EFF;
  height: 20px;
  width: 180px;
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgb(28, 28, 28);
  margin-bottom: 100px;
}

.botaoCentro{
  justify-content: center;
  align-self: center;
}

#botaoJogar:hover {
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.05);
}
.gameScreen1 {
  color: white;
  background-color: #002A5A;
  height:600px;
  width:900px
}

#botaoPerguntaSorteada {
  display: flex;
  background-color: #B19EFF;
  height: 100px;
  width: 700px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgb(28, 28, 28);  
  margin: 10px;
}

.botaoResposta {
  display: flex;
  background-color: #f7d69c;
  height: 40px;
  width: 300px;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 2px 2px 2px rgb(28, 28, 28);  
  margin: 10px;
}




.hide {
    display:none;
}

.show {
    display:block;
}

.verde {
    background-color: green;
} 

.vermelho {
    background-color: red;
}